.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

#navbar li {
    text-align: center;
}

footer {
    background: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #9575cd;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 1
}

.navbar-dark {
    background-color: #512DA8;
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    top: 0;
    left: 0;
    position:absolute;
    height: 300px;
}

.carousel-caption {
    padding-top: 5px;
    padding-bottom: 35px;
}

#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
}