.row-header {
  margin: 0px auto;
  padding: 0px auto; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #D1CAE9; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #9575CD;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #512DA8; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      top: 0;
      left: 0;
      position: absolute;
      height: 300px; }
      .carousel .carousel-item img .carousel-caption {
        padding-top: 5px;
        padding-bottom: 35px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
